name: Deploy Frontend
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-with: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install and Build
        run: |
          npm install
          npm run build
      - name: Copy to AWS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "dist/"
          target: "/home/ubuntu/nginx-testing-FE"
          strip_components: 1
